#title{
    font-size: medium;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
#subTitle{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: small;
    cursor: pointer;
}
.simple-linear {
    background: linear-gradient(transparent,transparent, black);
  }